Repository openshift/velero, pull requests merged in 2024-06, with the labels that each got.

#317 OADP-4308: Don't consider unschedulable pods unrecoverable
  pkg/exposer/csi_snapshot_test.go
  pkg/exposer/generic_restore_test.go
  pkg/util/kube/pod.go
  pkg/util/kube/pod_test.go
Labels: lgtm, jira/valid-reference

#318 release-string for 1.14.0
  Dockerfile.ubi
Labels: approved, lgtm

#316 fix: CI
  Makefile.prow
Labels: approved, lgtm

#320 Makefile.prow: envtest
  Makefile.prow
Labels: approved, lgtm

#315 oadp-1.3: OADP-4265 Mark InProgress backup/restore as failed upon requeuing
  changelogs/unreleased/7863-kaovilai
  pkg/controller/backup_controller.go
  pkg/controller/backup_finalizer_controller.go
  pkg/controller/restore_controller.go
Labels: approved, lgtm

#324 oadp-1.3: OADP-4265: Reconcile To Fail: Add backup/restore trackers
  pkg/controller/backup_controller.go
  pkg/controller/backup_controller_test.go
  pkg/controller/restore_controller.go
  pkg/controller/restore_controller_test.go
  pkg/controller/restore_tracker.go
  pkg/test/mocks.go
  pkg/test/mocks/Client.go
Labels: approved, lgtm, jira/valid-reference
