Repository openshift/velero, pull requests merged in 2025-03, with the labels that each got.

#326 add DOWNSTREAM_OWNERS
  DOWNSTREAM_OWNERS
Labels: lifecycle/stale, ¯\_(ツ)_/¯, approved, lgtm

#371 oadp-1.3: Additional go1.23 updates, controller-gen to v0.14.0
  Dockerfile
  Makefile.prow
  config/crd/v1/bases/velero.io_backuprepositories.yaml
  config/crd/v1/bases/velero.io_backups.yaml
  config/crd/v1/bases/velero.io_backupstoragelocations.yaml
  config/crd/v1/bases/velero.io_deletebackuprequests.yaml
  config/crd/v1/bases/velero.io_downloadrequests.yaml
  config/crd/v1/bases/velero.io_podvolumebackups.yaml
  config/crd/v1/bases/velero.io_podvolumerestores.yaml
  config/crd/v1/bases/velero.io_restores.yaml
  config/crd/v1/bases/velero.io_schedules.yaml
  config/crd/v1/bases/velero.io_serverstatusrequests.yaml
  config/crd/v1/bases/velero.io_volumesnapshotlocations.yaml
  config/crd/v1/crds/crds.go
  config/crd/v2alpha1/bases/velero.io_datadownloads.yaml
  config/crd/v2alpha1/bases/velero.io_datauploads.yaml
  config/crd/v2alpha1/crds/crds.go
  hack/build-image/Dockerfile
  hack/update-1fmt.sh
  hack/verify-generated-crd-code.sh
  pkg/apis/velero/v1/zz_generated.deepcopy.go
  pkg/apis/velero/v2alpha1/zz_generated.deepcopy.go
Labels: approved, lgtm, tide/merge-method-squash

#372 OADP-5859: CVE-2025-30204
  go.mod
  go.sum
Labels: approved, lgtm, jira/valid-reference
